*{
  margin:0; 
  padding: 0; 
   box-sizing: border-box;
   }
   
   body{
       margin-left:50px;
       background:#b9925e;
   }
   
.container{
 
   
   }
   
#time{
    width:50px;
}

#act{
    width: 300px;
    padding-left:2px;
}

#area{
  display:flex;
    flex-direction:row;    
    
}

#atable{
  margin:55px;
}

.wrapper{
    margin-top:100px;
    
    background:#ede6b9  ;
    border:2px solid black;
    width: 400px;
    position:absolute;
    top:30%;
    left:30%;
    
   border-radius:10px;
   border-bottom-radius:0px; 
    
}
#title{
    padding-bottom:50px;
}

textarea{
      background:#829079;
}
#sel{
  margin-bottom:2px;
    
}
#area{
   border:1.5px solid black; 
  
   width: 400px;
   border-bottom-radius:10px;
   display:flex;
   flex-direction:row;
}
.atablediv{
    display:flex;
    flex-direction:column;
}

.remove{
    width: 5px;
}
#tables textarea{
    border:1.5px solid black;
    
}

select{
    background:#ede6b9;
}
#hollow{
    
    
}

footer{
    margin-top:300px;
   
    padding-left:0px;
}
button{
 background: #a7beae;
}
